.wrapper {
    overflow: hidden;
}

.menu {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

.item {
    justify-self: center;
    align-self: center;
}
