<div class="nav-container">
  <div class="nav">
    <div class="nav-item" [routerLinkActive]="['link-active']">
      <a class="nav-link" [routerLink]="['/menu']">Menu</a>
    </div>
    <div class="nav-item" [routerLinkActive]="['link-active']">
      <a class="nav-link" [routerLink]="['/cart']">Cart <badge *ngIf="goodsCount" [label]="goodsCount"></badge> </a>
    </div>
    <div *ngIf="!isUserLoggedIn" class="nav-item reverse" [routerLinkActive]="['link-active']">
      <a class="nav-link" [routerLink]="['/login']">Login</a>
    </div>
    <div *ngIf="!isUserLoggedIn" class="nav-item" [routerLinkActive]="['link-active']">
      <a class="nav-link" [routerLink]="['/register']">Register</a>
    </div>
    <div *ngIf="isUserLoggedIn" class="nav-item reverse">
      <a class="nav-link link-active">{{ userName }}</a>
    </div>
    <div *ngIf="isUserLoggedIn" class="nav-item">
      <a class="nav-link link-active" (click)="logout()">Logout</a>
    </div>
  </div>
  <div class="currency">
    <a class="currency-item" (click)="selectUsd()" [ngClass]="{'selected': getCurrency() === 'USD'}">USD</a>
    <span>/</span>
    <a class="currency-item" (click)="selectEur()" [ngClass]="{'selected': getCurrency() === 'EUR'}">EUR</a>
  </div>
</div>
